@use "./../../../scss/colors.scss" as *;
@use "./../../../scss/variabels.scss" as *;

.profileAbout {
  width: 480px;
  margin-top: $size10px;
  min-height: calc(100dvh - $size57px);
  gap: $size7px;
  .empty {
    background-color: $color-grey;
    width: $size360px;
    height: $size44px;
    border-radius: $size14px;
  }
}

@media screen and (max-width: 480px) {
  .profileAbout {
    width: 100vw;
    margin-top: $flexsize10px;
    gap: $flexsize7px;
    min-height: calc(100dvh - $flexsize57px);
    .empty {
      width: $flexsize360px;
      height: $flexsize44px;
      border-radius: $flexsize14px;
    }
  }
}
