@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.headerFixed {
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 6;
  width: 100%;
  height: min($size36px, $flexsize36px);

  .infoBlock {
    transition: opacity 0.5s linear;
  }
  .opacity1 {
    opacity: 1;
  }

  .opacity0 {
    opacity: 0;
  }
}

.catalogDesk {
  padding: $size10px $size15px $size15px $size15px $size15px;
  background-color: $color-white;

  h1 {
    margin-bottom: $size15px;
  }
}

.cardDesk {
  margin-top: $size15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $size8px;
}

.card {
  width: min($size114px, $flexsize114px);
  height: $size140px;
  background-color: $color-grey;
  border-radius: $size10px;
  display: flex;
  flex-direction: column;

  .cardTitle {
    width: calc(100% - $size20px);
    height: $size32px;
    margin: 0;
    font-weight: 500;
    line-height: $size16px;
    font-size: $size14-5px;
    padding: $size10px $size10px 0 $size10px;
    user-select: none;
  }
  .cardImgPlace {
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom right;
    border-radius: 0 0 $size10px $size10px;
  }
}

.cardDeskBottom {
  width: 100%;
  min-height: $size42px;
}

@media screen and (max-width: 480px) {
  .cardDesk {
    margin-top: $flexsize15px;
    gap: $flexsize8px;
  }

  .card {
    height: $flexsize140px;
    border-radius: $flexsize10px;

    .cardTitle {
      width: calc(100% - $flexsize20px);
      height: $flexsize32px;
      color: $color-black;
      overflow: visible;
      padding: $flexsize10px $flexsize10px 0 $flexsize10px;
    }

    .cardImgPlace {
      border-radius: 0 0 $flexsize10px $flexsize10px;
    }
  }

  .catalogDesk {
    padding: $flexsize10px $flexsize15px $flexsize15px $flexsize15px;
    h1 {
      margin-bottom: $flexsize15px;
    }
  }

  .cardDeskBottom {
    min-height: $flexsize42px;
  }
}
