@use "./../../../scss/colors.scss" as *;
@use "./../../../scss/variabels.scss" as *;

.deliveryCard {
  display: flex;
  flex-direction: row;
  width: min(480px, 100vw);
  border-radius: $size25px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;

  .header {
    width: 92%;
    padding: $size11px 4%;
    min-height: $size30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .textBlock {
      display: flex;
      flex-direction: column;
      gap: $size3px;
      justify-content: center;
      align-items: flex-start;
    }

    .moreInfo {
      min-width: $size25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        width: $size4px;
        height: $size8px;
      }
    }
  }

  .body {
    width: 96%;
    margin-left: 4%;
    height: $size121px;
    border-top: 0.25px solid #c7c5c5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: $size12px;

    .goodsImg {
      width: $size91px;
      height: $size91px;
      background-color: $color-grey;
      border-radius: $size14px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80% auto;
    }

    .goodsInfo {
      width: $size257px;
      height: $size91px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h2 {
        line-height: $size15px;
        margin-bottom: $size2px;
      }

      h2:first-child {
        font-weight: 600;
      }
      h2:last-child {
        margin-bottom: 0px;
        margin-top: $size10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .deliveryCard {
    border-radius: $flexsize25px;
    .header {
      min-height: $flexsize30px;

      padding: $flexsize11px 4%;

      .textBlock {
        gap: $flexsize3px;
      }

      .moreInfo {
        min-width: $flexsize25px;

        svg {
          width: $flexsize4px;
          height: $flexsize8px;
        }
      }
    }

    .body {
      height: $flexsize121px;
      gap: $flexsize12px;
      .goodsImg {
        width: $flexsize91px;
        height: $flexsize91px;
        border-radius: $flexsize14px;
      }

      .goodsInfo {
        width: $flexsize257px;
        height: $flexsize91px;

        h2 {
          line-height: $flexsize15px;
          margin-bottom: $flexsize2px;
        }
        h2:last-child {
          margin-top: $flexsize10px;
        }
      }
    }
  }
}
