@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $color-white;
  min-height: $size140px;
  width: $size360px;
  gap: $size15px;
  border-top: 0.25px solid $color-border-grey;

  .itemImgPlace {
    height: 100%;
    width: $size104px;

    .itemImg {
      margin-top: $size15px;
      width: $size104px;
      height: $size130px;
      min-height: $size104px;
      background-color: $color-grey;
      border-radius: $size14px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80% auto;
    }

    .smallImg {
      height: $size104px;
    }
  }
}

.textInfo {
  .itemHeader {
    padding-top: $size15px;
    padding-bottom: $size8px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: $size15px;

    .desc {
      width: $size204px;
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: $size2px;
      }

      .notavailable {
        color: $color-orange;
        font-weight: 400;
        font-size: $size11-5px;
        line-height: $size16px;
        user-select: none;
        letter-spacing: calc(-2 * min(0.19px, 0.039vw));
      }

      .warn {
        gap: $size2px;

        svg {
          height: $size11px;
          width: $size11px;
        }
      }
    }
  }
  .itemBody {
    display: flex;
    flex-direction: column;

    .bodySettings {
      display: flex;
      flex-direction: row;
      gap: $size6px;

      h2:nth-child(2) {
        span {
          color: $color-grey-text;
        }
      }

      svg {
        rotate: 90deg;
        height: $size8px;
        width: $size4px;
        margin-top: $size4px;
      }
    }

    .price {
      margin-top: $size10px;
      h2 {
        letter-spacing: calc(-3 * min(0.178px, 0.037vw));
      }
    }
  }

  .itemFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $size15px;
    padding-bottom: $size20px;

    .itemFooterBtnsBlock {
      display: flex;
      flex-direction: row;
      gap: $size25px;
    }
    .sameBtn {
      border: none;
      background-color: $color-grey;
      width: $size80px;
      height: $size28px;
      border-radius: $size8px;
      font-weight: 500;
      font-size: $size12-5px;
    }
  }
}

.dis:disabled {
  color: $color-dark-grey;
}

@media screen and (max-width: 480px) {
  .item {
    min-height: $flexsize140px;
    width: $flexsize360px;
    gap: $flexsize15px;

    .itemImgPlace {
      width: $flexsize104px;

      .itemImg {
        margin-top: $flexsize15px;
        width: $flexsize104px;
        min-height: $flexsize104px;
        height: $flexsize130px;
        border-radius: $flexsize14px;
      }
      .smallImg {
        height: $flexsize104px;
      }
    }

    .textInfo {
      .itemHeader {
        padding-top: $flexsize15px;
        padding-bottom: $flexsize8px;
        gap: $flexsize15px;

        .desc {
          width: $flexsize204px;

          h3 {
            margin-bottom: $flexsize2px;
          }

          .notavailable {
            font-size: $flexsize11-5px;
            line-height: $flexsize16px;
          }

          .warn {
            gap: $flexsize2px;
            svg {
              width: $flexsize11px;
              height: $flexsize11px;
            }
          }
        }
      }

      .itemBody {
        .bodySettings {
          gap: $flexsize6px;

          svg {
            height: $flexsize8px;
            width: $flexsize4px;
            margin-top: $flexsize5px;
          }
        }

        .price {
          margin-top: $flexsize10px;
        }
      }

      .itemFooter {
        padding-top: $flexsize15px;
        padding-bottom: $flexsize20px;

        .itemFooterBtnsBlock {
          gap: $flexsize25px;
        }

        .sameBtn {
          width: $flexsize80px;
          height: $flexsize28px;
          border-radius: $flexsize8px;
          font-size: $flexsize12-5px;
        }
      }
    }
  }
}
