@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $color-white;
  min-height: $size140px;
  width: $size360px;
  gap: $size15px;
  border-top: 0.25px solid $color-border-grey;

  .itemImgPlace {
    height: 100%;
    width: $size104px;

    .itemImg {
      margin-top: $size15px;
      width: $size104px;
      height: $size104px;
      min-height: $size104px;
      background-color: $color-grey;
      border-radius: $size10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80% auto;
    }
  }
}

.textInfo {
  .itemHeader {
    padding-top: $size15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .desc {
      width: $size204px;
      display: flex;
      flex-direction: column;

      h1 {
        margin-bottom: 0px;
      }
    }
  }
  .itemBody {
    display: flex;
    flex-direction: column;

    .bodySettings {
      display: flex;
      flex-direction: row;
      gap: $size6px;
    }

    .price {
      margin-top: $size10px;
    }
  }

  .itemFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $size15px;
    padding-bottom: $size20px;

    .itemFooterBtnsBlock {
      display: flex;
      flex-direction: row;
      gap: $size25px;
    }
  }
}

.dis:disabled {
  color: $color-dark-grey;
}

@media screen and (max-width: 480px) {
  .item {
    min-height: $flexsize140px;
    width: $flexsize360px;
    gap: $flexsize15px;

    .itemImgPlace {
      width: $flexsize104px;

      .itemImg {
        margin-top: $flexsize15px;
        width: $flexsize104px;
        min-height: $flexsize104px;
        height: $flexsize104px;
        border-radius: $flexsize10px;
      }
    }

    .textInfo {
      .itemHeader {
        padding-top: $flexsize15px;

        .desc {
          width: $flexsize204px;
        }
      }

      .itemBody {
        .bodySettings {
          gap: $flexsize6px;
        }

        .price {
          margin-top: $flexsize10px;
        }
      }

      .itemFooter {
        padding-top: $flexsize15px;
        padding-bottom: $flexsize20px;

        .itemFooterBtnsBlock {
          gap: $flexsize25px;
        }
      }
    }
  }
}
