@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.results {
  background-color: $color-white;
  min-height: $size140px;
  width: $size360px;
  border-radius: $size25px $size25px 0 0;
  padding: $size20px $size15px;

  .title {
    margin-bottom: $size15px;
    h3 {
      font-size: $size20px;
      line-height: $size16px;
      font-weight: 700;
      letter-spacing: calc(-1 * min(0.24px, 0.051vw));
    }
    h2 {
      font-size: $size11-5px;
      line-height: $size16px;
      font-weight: 400;
      letter-spacing: calc(-2 * min(0.19px, 0.039vw));
    }
  }

  .totalSum {
    margin-bottom: $size8px;

    h2:first-child {
      font-size: $size12-5px;
      font-weight: 400;
      letter-spacing: calc(-3 * min(0.15px, 0.032vw));
    }

    h2:nth-child(2) {
      font-size: $size12-5px;
      line-height: $size16px;
      font-weight: 600;
      letter-spacing: calc(-3 * min(0.15px, 0.032vw));
    }
  }
  .discount {
    margin-bottom: $size15px;
    h2:first-child {
      font-size: $size12-5px;
      font-weight: 400;
      letter-spacing: calc(-3 * min(0.15px, 0.032vw));
    }
    h2:nth-child(2) {
      font-size: $size12-5px;
      line-height: $size16px;
      font-weight: 600;
      color: $color-blue;
      letter-spacing: calc(-3 * min(0.15px, 0.032vw));
    }
  }

  button {
    height: $size44px;
    width: $size360px;
    border-radius: $size14px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $size15-5px;
    line-height: $size18px;
    letter-spacing: calc(-1.5 * min(0.19px, 0.039vw));
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .results {
    min-height: $flexsize140px;
    width: $flexsize360px;
    border-radius: $flexsize25px $flexsize25px 0 0;
    padding: $flexsize20px $flexsize15px;

    .title {
      margin-bottom: $flexsize15px;
      h3 {
        font-size: $flexsize20px;
        line-height: $flexsize16px;
      }
      h2 {
        font-size: $flexsize11-5px;
        line-height: $flexsize16px;
      }
    }

    .totalSum {
      margin-bottom: $flexsize8px;
      h2:first-child {
        font-size: $flexsize12-5px;
      }

      h2:nth-child(2) {
        font-size: $flexsize12-5px;
        line-height: $flexsize16px;
      }
    }

    .discount {
      margin-bottom: $flexsize15px;
      h2:first-child {
        font-size: $flexsize12-5px;
      }
      h2:nth-child(2) {
        font-size: $flexsize12-5px;
        line-height: $flexsize16px;
      }
    }

    button {
      height: $flexsize44px;
      width: $flexsize360px;
      border-radius: $flexsize14px;
      font-size: $flexsize15-5px;
      line-height: $flexsize18px;
    }
  }
}
