@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.results {
  background-color: $color-white;
  min-height: $size140px;
  width: $size360px;
  border-radius: $size25px $size25px 0 0;
  padding: $size20px $size15px;

  .title {
    margin-bottom: $size15px;
  }

  .totalSum {
    margin-bottom: $size8px;
  }
  .discount {
    margin-bottom: $size15px;
  }

  button {
    height: $size44px;
    width: $size360px;
    border-radius: $size14px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $size15-5px;
    line-height: $size18px;
    letter-spacing: calc(-1.5 * min(0.19px, 0.039vw));
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .results {
    min-height: $flexsize140px;
    width: $flexsize360px;
    border-radius: $flexsize25px $flexsize25px 0 0;
    padding: $flexsize20px $flexsize15px;

    .title {
      margin-bottom: $flexsize15px;
    }

    .totalSum {
      margin-bottom: $flexsize8px;
    }

    .discount {
      margin-bottom: $flexsize15px;
    }

    button {
      height: $flexsize44px;
      width: $flexsize360px;
      border-radius: $flexsize14px;
      font-size: $flexsize15-5px;
      line-height: $flexsize18px;
    }
  }
}
