@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.bottomMenu::-webkit-scrollbar {
  display: none;
}

.bottomMenu {
  width: min(406.15px, 84.615vw);
  height: $size36px;
  padding: $size11px $size30px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  bottom: 0px;
  // margin-top: calc(100dvh - $size58px);

  .bottomMenuBtn {
    padding: 0px;
    height: 100%;
    width: $size50px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;

    h5 {
      margin: 0;
      padding: 0;
      user-select: none;
      color: $color-dark-grey;
      font-weight: 500;
      font-family: "Inter";
      font-size: $size9px;
      letter-spacing: 0.18px;
    }
  }

  .activeBtn {
    svg {
      path {
        fill: $color-blue;
      }
    }

    h5 {
      color: $color-blue;
    }
  }

  .activeBtn:first-child {
    svg {
      path {
        stroke: $color-blue;
      }
    }
  }

  .bottomMenuBtn:nth-child(1) {
    svg {
      width: $size20px;
      height: $size22px;
    }
  }

  .bottomMenuBtn:nth-child(even) {
    svg {
      width: $size20px;
      height: $size20px;
    }
  }
  .bottomMenuBtn:nth-child(3) {
    svg {
      width: $size18px;
      height: $size18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .bottomMenu {
    height: $flexsize36px;
    margin-top: calc(100dvh - $flexsize58px);
    padding: $flexsize11px $flexsize30px;

    .bottomMenuBtn {
      width: $flexsize50px;
      h5 {
        font-size: $flexsize9px;
      }
    }
    .bottomMenuBtn:nth-child(1) {
      svg {
        width: $flexsize20px;
        height: $flexsize22px;
      }
    }
    .bottomMenuBtn:nth-child(even) {
      svg {
        width: $flexsize20px;
        height: $flexsize20px;
      }
    }
    .bottomMenuBtn:nth-child(3) {
      svg {
        width: $flexsize18px;
        height: $flexsize18px;
      }
    }
  }
}
