@use "./../../../scss/colors.scss" as *;
@use "./../../../scss/variabels.scss" as *;

.profilePromo {
  width: 480px;
  margin-top: $size10px;
  min-height: calc(100dvh - $size57px);
  gap: $size15px;

  .promoItem {
    background-color: $color-grey;
    width: $size330px;
    height: $size93px;
    border-radius: $size14px;
    padding: $size15px;
  }
}

@media screen and (max-width: 480px) {
  .profilePromo {
    width: 100vw;
    margin-top: $flexsize10px;
    min-height: calc(100dvh - $flexsize57px);
    gap: $flexsize15px;

    .promoItem {
      width: $flexsize330px;
      height: $flexsize93px;
      border-radius: $flexsize14px;
      padding: $flexsize15px;
    }
  }
}
