@use "./../../../scss/colors.scss" as *;
@use "./../../../scss/variabels.scss" as *;

.refferal {
  width: calc(100% - $size30px);
  padding: $size3px $size15px $size8px $size15px;
  height: calc(100% - $size11px);

  .refferalTopText {
    width: 100%;
    gap: $size10px;

    h3 {
      line-height: 1.22;
    }
  }

  .refferalBtn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .refferal {
    width: calc(100% - $flexsize30px);
    padding: $flexsize3px $flexsize15px $flexsize8px $flexsize15px;
    height: calc(100% - $flexsize11px);

    .refferalTopText {
      gap: $flexsize10px;
    }
  }
}
