@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.profileTopAva {
  margin-bottom: $size15px;
  width: $size360px;
  height: $size40px;
  display: flex;
  flex-direction: row;
  gap: $size10px;

  .profileAva {
    width: $size40px;
    height: $size40px;
    border-radius: $size14px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }

  .profileTextBlock {
    height: $size40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: $size3px;

    button {
      gap: $size4px;
      border: none;
      background-color: $color-white;
      padding-left: 0px;

      svg {
        width: $size6px;
        height: $size10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .profileTopAva {
    margin-bottom: $flexsize15px;
    width: $flexsize360px;
    height: $flexsize40px;
    gap: $flexsize10px;

    .profileAva {
      width: $flexsize40px;
      height: $flexsize40px;
      border-radius: $flexsize14px;
    }
    .profileTextBlock {
      height: $flexsize40px;
      gap: $flexsize3px;

      button {
        gap: $flexsize4px;
        svg {
          width: $flexsize6px;
          height: $flexsize10px;
        }
      }
    }
  }
}
