@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.popcat {
  width: min(480px, 100vw);
  margin-left: -$size15px;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: $size40px;

  .popcatLine {
    min-height: $size375px;
    width: $size550px;
    padding-left: $size15px;
    display: flex;
    flex-direction: row;
    gap: $size7px;

    .popcatLineItem {
      width: $size285px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: $size8px;

      .popcatLineItemImg {
        width: $size285px;
        height: $size350px;

        background-repeat: no-repeat;
        background-position-x: center;
        background-size: $size285px $size350px;
        border-radius: $size16px;
      }

      .image1 {
        background-image: url("/images/boots.png");
      }
      .image2 {
        background-image: url("/images/frame.png");
      }
    }
  }
}

.popcat::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 479px) {
  .popcat {
    margin-left: -$flexsize15px;
    margin-bottom: $flexsize40px;

    .popcatLine {
      min-height: $flexsize375px;
      width: $flexsize550px;
      padding-left: $flexsize15px;
      gap: $flexsize7px;

      .popcatLineItem {
        width: $flexsize285px;
        gap: $size8px;

        .popcatLineItemImg {
          width: $flexsize285px;
          height: $flexsize350px;
          background-size: $flexsize285px $flexsize350px;
          border-radius: $flexsize16px;
        }
      }
    }
  }
}
