@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.headerFixed {
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 6;
  width: 100%;
  height: min($size36px, $flexsize36px);

  .infoBlock {
    transition: opacity 0.5s linear;
  }

  .opacity1 {
    opacity: 1;
  }
  .opacity0 {
    opacity: 0;
  }
}

.secondDesk {
  width: min(480px, 100vw);
  height: 100%;
  min-height: 100vh;
  position: absolute;
  overflow-y: auto;
  z-index: 10;
  transition: margin-left 0.1s;
  overflow-x: hidden;
  background-color: $color-white;
}

.showed {
  margin-left: 0vw;
}

.hidden {
  margin-left: -103vw;
}

.profileDesk {
  background-color: $color-grey;
  padding: 0px;
  margin: 0px;
  width: min(450px, 96vw);

  .mainDesk {
    width: min(479px, 99.95vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    background-color: $color-grey;
  }

  h1 {
    margin-bottom: $size15px;
    margin-top: $size10px;
  }

  .profileDeskTop {
    background-color: $color-white;
    width: $size360px;
    height: $size208px;
    padding: 0 $size15px $size15px $size15px;
    border-radius: 0px 0px $size25px $size25px;
    margin-bottom: $size8px;
    top: 0;
    z-index: 2;

    .smallTitle {
      transition: opacity 0.1s linear;
    }
    .opacity1 {
      opacity: 1;
    }
    .opacity0 {
      opacity: 0;
    }

    .profileTopLine {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: $size8px;

      .profileTopLineItem {
        background-color: $color-grey;
        height: $size90px;
        width: $size176px;
        border-radius: $size14px;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: bottom right;

        .profileItemTitlePlace {
          padding: $size10px 0 0 $size10px;
          width: calc(100% - $size10px);
          height: $size35px;

          h3:first-child {
            margin-bottom: $size3px;
          }
        }
      }
    }
  }
  .profileDeskMenu {
    z-index: 1;
    background-color: $color-white;
    display: flex;
    flex-direction: column;

    min-height: $size550px;
    width: $size375px;
    padding: 0 0 $size59px $size15px;
    border-radius: $size25px $size25px 0px 0px;

    .profileDeskMenuItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      height: $size55px;

      .profileDeskMenuIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        .profileDeskMenuIconPlace {
          background-color: $color-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          width: $size29px;
          height: $size29px;
          border-radius: $size8px;

          img {
            width: $size15px;
            height: $size15px;
          }
        }
      }

      .profileDeskMenuInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: $size334px;
        height: 100%;
        border-bottom: 0.25px solid #c7c5c5;

        .profileDeskMenuText {
          height: 100%;
          max-width: $size290px;
          width: $size290px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: $size3px;
        }
      }

      button {
        width: $size30px;
        height: 96%;
        border: none;
        background-color: transparent;
        padding: 0;

        svg {
          width: $size6px;
          height: $size10px;
        }
      }
    }

    .profileDeskMenuItem:last-child {
      .profileDeskMenuInfo {
        border-bottom: 0.25px solid $color-white;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .profileDesk {
    padding: 0px;
    width: 100vw;

    .profileDeskTop {
      height: $flexsize208px;
      width: $flexsize360px;
      padding: 0px $flexsize15px $flexsize15px $flexsize15px;
      border-radius: 0px 0px $flexsize25px $flexsize25px;
      margin-bottom: $flexsize8px;

      .profileTopLine {
        gap: $flexsize8px;

        .profileTopLineItem {
          height: $flexsize90px;
          width: $flexsize176px;
          border-radius: $flexsize14px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .profileItemTitlePlace {
            padding: $flexsize10px 0 0 $flexsize10px;
            width: calc(100% - $flexsize10px);
            height: $flexsize35px;

            h3:first-child {
              margin-bottom: $flexsize3px;
            }
          }
        }
      }
    }

    .profileDeskMenu {
      min-height: $flexsize550px;
      width: $flexsize375px;
      padding: 0 0 $flexsize59px $flexsize15px;
      border-radius: $flexsize25px $flexsize25px 0px 0px;

      .profileDeskMenuItem {
        height: $flexsize55px;

        .profileDeskMenuIcon {
          .profileDeskMenuIconPlace {
            width: $flexsize29px;
            height: $flexsize29px;
            border-radius: $flexsize8px;

            img {
              width: $flexsize15px;
              height: $flexsize15px;
            }
          }
        }

        .profileDeskMenuInfo {
          width: $flexsize334px;

          .profileDeskMenuText {
            max-width: $flexsize290px;
            width: $flexsize290px;
            gap: $flexsize3px;
          }
        }

        button {
          width: $size30px;
          height: 96%;
          padding: 0;

          svg {
            width: $flexsize6px;
            height: $flexsize10px;
          }
        }
      }

      button {
        width: $flexsize30px;
      }
    }
  }
}
