@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.catalogDesk {
  padding: $size15px;
  background-color: $color-white;

  h1 {
    margin-bottom: $size15px;
  }
}

.cardDeskBottom {
  width: 100%;
  min-height: $size42px;
}

@media screen and (max-width: 480px) {
  .catalogDesk {
    padding: $flexsize15px;
    h1 {
      margin-bottom: $flexsize15px;
    }
  }

  .cardDeskBottom {
    min-height: $flexsize42px;
  }
}
