@use "./colors.scss" as *;
@use "./variabels.scss" as *;

:root {
  font-family: "Inter", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $color-black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 480px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-white;
    color: $color-black;
  }
  .dark {
    background-color: #012463;
    color: $color-black;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  padding: 0px;
  max-width: 420vw;
  min-height: 100vh;
}

main {
  // background-color: white;
  color: $color-black;
  width: 100%;
  min-height: calc(100dvh - min($size57px, $flexsize57px));
}

main::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: $color-white;
  color: $color-black;
}

.flex-row-between-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-end-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-column-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-column-between-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.animHeader {
  color: black;
  transform: translate(0px, 0px) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.animHeader.inCenter {
  transform: translate($size140px, -1 * $size42px) scale(0.666);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.fw900 {
  font-weight: 900;
}
.fw800 {
  font-weight: 800;
}
.fw700 {
  font-weight: 700;
}
.fw600 {
  font-weight: 600;
}
.fw500 {
  font-weight: 500;
}
.fw400 {
  font-weight: 400;
}
.fw300 {
  font-weight: 300;
}
.fw200 {
  font-weight: 200;
}
.fw100 {
  font-weight: 100;
}

.super-black {
  color: $color-super-black;
}
.black {
  color: $color-black;
}
.white {
  color: $color-white;
}
.orange {
  color: $color-orange;
}
.grey {
  color: $color-grey-text;
}
.grey-second {
  color: $color-dark-grey;
}
.red {
  color: $color-red;
}
.blue {
  color: $color-blue;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $color-black;
    background-color: $color-white;
  }

  button {
    background-color: $color-white;
    color: $color-black;
  }
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(fonts/Inter.ttf) format("ttf");
}
