$size8px: 9.8462px;
$size8-5px: 10.46px;
$size12px: 12.31px;
$size12px: 14.77px;

$size15px: 18.46px;

$size20px: 24.615px;
$size25px: 30.77px;
$size35px: 43.08px;

$size344px: 411.08px;

$flexsize8px: 2.051vw;
$flexsize8-5px: 2.1795vw;
$flexsize10px: 2.564vw;
$flexsize12px: 3.077vw;

$flexsize15px: 3.85vw;

$flexsize20px: 5.128vw;
$flexsize25px: 6.41vw;
$flexsize35px: 8.97vw;

$flexsize344px: 88.21vw;
