$size2px: 2.462px;
$size3px: 3.69px;
$size4px: 4.923px;
$size5px: 6.154px;
$size5px: 6.154px;
$size6px: 7.385px;
$size7px: 8.615px;
$size8px: 9.8462px;
$size8-5px: 10.46px;
$size9px: 11.077px;
$size10px: 12.31px;
$size11px: 13.54px;
$size11-5px: 14.154px;
$size12px: 14.77px;
$size12-5px: 15.385px;
$size14px: 17.231px;
$size14-5px: 17.846px;
$size15px: 18.46px;
$size15-5px: 19.077px;
$size16px: 19.692px;
$size17-5px: 21.589px;
$size18px: 22.154px;
$size19px: 23.385px;

$size20px: 24.615px;
$size21px: 25.836px;
$size22px: 27.077px;
$size23px: 28.308px;
$size24px: 29.538px;
$size25px: 30.77px;
$size28px: 34.462px;
$size29px: 35.692px;
$size30px: 36.92px;
$size31px: 38.154px;
$size32px: 39.385px;
$size35px: 43.08px;
$size36px: 44.308px;
$size38px: 46.769px;
$size40px: 49.231px;
$size42px: 51.692px;
$size43px: 52.923px;
$size44px: 54.154px;
$size45px: 55.385px;
$size50px: 61.538px;
$size51px: 62.77px;
$size55px: 67.692px;
$size57px: 70.154px;
$size58px: 71.385px;
$size59px: 72.615px;
$size62px: 76.308px;
$size65px: 80px;
$size67px: 82.462px;
$size69px: 84.923px;
$size80px: 98.452px;
$size89px: 109.54px;
$size90px: 110.77px;
$size91px: 112px;

$size104px: 128px;
$size114px: 140.31px;
$size115px: 141.54px;
$size121px: 148.92px;
$size139px: 171.08px;
$size140px: 172.31px;
$size150px: 184.62px;
$size151px: 185.85px;
$size163px: 200.62px;
$size175px: 215.385px;
$size176px: 216.615px;
$size194px: 238.75px;
$size200px: 246.15px;
$size204px: 251.08px;
$size205px: 252.31px;
$size218px: 268.31px;
$size225px: 276.92px;
$size228px: 280.62px;
$size230px: 283.077px;
$size248px: 305.23px;
$size255px: 313.85px;
$size265px: 326.15px;
$size257px: 316.31px;
$size272px: 334.77px;
$size285px: 350.77px;
$size290px: 356.932px;
$size313px: 385.23px;
$size333px: 409.85px;
$size344px: 411.08px;
$size347px: 427.08px;
$size350px: 430.77px;
$size360px: 443.08px;
$size375px: 461.54px;
$size385px: 473.85px;
$size390px: 480px;
$size400px: 492.31px;
$size410px: 504.615px;
$size499px: 614.154px;
$size550px: 676.92px;
$size592px: 728.62px;

$flexsize2px: 0.513vw;
$flexsize3px: 0.769vw;
$flexsize4px: 1.026vw;
$flexsize5px: 1.282vw;
$flexsize5px: 1.282vw;
$flexsize6px: 1.539vw;
$flexsize7px: 1.795vw;
$flexsize8px: 2.051vw;
$flexsize8-5px: 2.1795vw;
$flexsize9px: 2.308vw;
$flexsize10px: 2.564vw;
$flexsize11px: 2.82vw;
$flexsize11-5px: 2.95vw;
$flexsize12px: 3.077vw;
$flexsize12-5px: 3.205vw;
$flexsize14px: 3.59vw;
$flexsize14-5px: 3.718vw;
$flexsize15px: 3.85vw;
$flexsize15-5px: 3.974vw;
$flexsize16px: 4.103vw;
$flexsize17-5px: 4.487vw;
$flexsize18px: 4.615vw;
$flexsize19px: 4.872vw;

$flexsize20px: 5.128vw;
$flexsize21px: 5.385vw;
$flexsize22px: 5.641vw;
$flexsize23px: 5.897vw;
$flexsize24px: 6.154vw;
$flexsize25px: 6.41vw;
$flexsize28px: 7.18vw;
$flexsize29px: 7.436vw;
$flexsize30px: 7.692vw;
$flexsize31px: 7.949vw;
$flexsize32px: 8.205vw;
$flexsize35px: 8.97vw;
$flexsize36px: 9.231vw;
$flexsize38px: 9.744vw;
$flexsize40px: 10.256vw;
$flexsize42px: 10.77vw;
$flexsize43px: 11.026vw;
$flexsize44px: 11.282vw;
$flexsize45px: 11.538vw;
$flexsize50px: 12.82vw;
$flexsize51px: 13.077vw;
$flexsize55px: 14.103vw;
$flexsize57px: 14.615vw;
$flexsize58px: 14.872vw;
$flexsize59px: 15.128vw;
$flexsize62px: 15.897vw;
$flexsize65px: 16.67vw;
$flexsize67px: 17.18vw;
$flexsize69px: 17.69vw;
$flexsize80px: 20.513vw;
$flexsize89px: 22.82vw;
$flexsize90px: 23.077vw;
$flexsize91px: 23.333vw;

$flexsize104px: 26.667vw;
$flexsize114px: 29.23vw;
$flexsize115px: 29.49vw;
$flexsize121px: 31.026vw;
$flexsize139px: 35.64vw;
$flexsize140px: 35.897vw;
$flexsize150px: 38.452vw;
$flexsize151px: 38.718vw;
$flexsize163px: 41.795vw;
$flexsize175px: 44.871vw;
$flexsize176px: 45.128vw;
$flexsize194px: 49.744vw;
$flexsize200px: 51.282vw;
$flexsize204px: 52.308vw;
$flexsize205px: 52.564vw;
$flexsize218px: 55.9vw;
$flexsize225px: 57.692vw;
$flexsize228px: 58.45vw;
$flexsize230px: 58.97vw;
$flexsize248px: 63.59vw;
$flexsize255px: 65.385vw;
$flexsize257px: 65.897vw;
$flexsize265px: 67.95vw;
$flexsize272px: 69.744vw;
$flexsize285px: 73.077vw;
$flexsize290px: 74.359vw;
$flexsize313px: 80.256vw;
$flexsize333px: 85.385vw;
$flexsize344px: 88.21vw;
$flexsize347px: 88.975vw;
$flexsize350px: 89.744vw;
$flexsize360px: 92.308vw;
$flexsize375px: 96.154vw;
$flexsize385px: 98.718vw;
$flexsize390px: 100vw;
$flexsize400px: 102.56vw;
$flexsize410px: 105.13vw;
$flexsize499px: 127.95vw;
$flexsize550px: 141.026vw;
$flexsize592px: 151.795vw;
