$size4px: 4.923px;
$size6px: 7.385px;
$size7px: 8.615px;
$size8px: 9.8462px;
$size8-5px: 10.46px;
$size9px: 11.077px;
$size10px: 12.31px;
$size11px: 13.54px;
$size11-5px: 14.154px;
$size12px: 14.77px;
$size12-5px: 15.385px;
$size14px: 17.231px;
$size14-5px: 17.846px;
$size15px: 18.46px;
$size16px: 17.23px;
$size17-5px: 21.589px;
$size18px: 22.154px;
$size19px: 23.385px;

$size20px: 24.615px;
$size22px: 27.077px;
$size23px: 28.308px;
$size24px: 29.538px;
$size25px: 30.77px;
$size28px: 34.462px;
$size29px: 35.692px;
$size30px: 36.92px;
$size32px: 39.385px;
$size35px: 43.08px;
$size36px: 44.308px;
$size40px: 49.231px;
$size42px: 51.692px;
$size44px: 54.154px;
$size50px: 61.538px;
$size55px: 67.692px;
$size58px: 71.385px;
$size80px: 98.452px;
$size90px: 110.77px;

$size140px: 172.31px;
$size176px: 216.615px;
$size218px: 268.31px;
$size228px: 280.62px;
$size248px: 305.23px;
$size255px: 313.85px;
$size265px: 326.15px;
$size285px: 350.77px;
$size290px: 356.932px;
$size344px: 411.08px;
$size350px: 430.77px;
$size360px: 443.08px;
$size385px: 473.85px;
$size410px: 504.615px;
$size550px: 676.92px;

$flexsize4px: 1.026vw;
$flexsize6px: 1.539vw;
$flexsize7px: 1.795vw;
$flexsize8px: 2.051vw;
$flexsize8-5px: 2.1795vw;
$flexsize9px: 2.308vw;
$flexsize10px: 2.564vw;
$flexsize11px: 2.82vw;
$flexsize11-5px: 2.95vw;
$flexsize12px: 3.077vw;
$flexsize12-5px: 3.205vw;
$flexsize14px: 3.59vw;
$flexsize14-5px: 3.718vw;
$flexsize15px: 3.85vw;
$flexsize16px: 4.103vw;
$flexsize17-5px: 4.487vw;
$flexsize18px: 4.615vw;
$flexsize19px: 4.872vw;

$flexsize20px: 5.128vw;
$flexsize22px: 5.641vw;
$flexsize23px: 5.897vw;
$flexsize24px: 6.154vw;
$flexsize25px: 6.41vw;
$flexsize28px: 7.18vw;
$flexsize29px: 7.436vw;
$flexsize30px: 7.692vw;
$flexsize32px: 8.205vw;
$flexsize35px: 8.97vw;
$flexsize36px: 9.231vw;
$flexsize40px: 10.256vw;
$flexsize42px: 10.77vw;
$flexsize44px: 11.282vw;
$flexsize50px: 12.82vw;
$flexsize55px: 14.103vw;
$flexsize58px: 14.872vw;
$flexsize80px: 20.513vw;
$flexsize90px: 23.077vw;

$flexsize140px: 35.897vw;
$flexsize176px: 45.128vw;
$flexsize218px: 55.9vw;
$flexsize228px: 58.45vw;
$flexsize248px: 63.59vw;
$flexsize255px: 65.385vw;
$flexsize265px: 67.95vw;
$flexsize285px: 73.077vw;
$flexsize290px: 74.359vw;
$flexsize344px: 88.21vw;
$flexsize350px: 89.744vw;
$flexsize360px: 92.308vw;
$flexsize385px: 98.718vw;
$flexsize410px: 105.13vw;
$flexsize550px: 141.026vw;
