@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.back {
  display: flex;
  flex-direction: column;
  width: min(480px, 100vw);
}

.topImgBlock {
  width: 480px;
  height: 578.45px;
  overflow: hidden;
  z-index: 1;
  position: fixed;
}

.topImg {
  width: 480px;
  height: 578.45px;
  background-image: url("/images/frame.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-size: 480px 578.45px;
  overflow: hidden;
}

.homedesk {
  display: flex;
  flex-direction: column;
  width: 461.54px;
  z-index: 2;
  margin-top: 443px;
  min-height: 443px;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: $size25px $size25px 0px 0px;
  padding-top: $size15px;
  padding-left: $size15px;

  .blockTitle {
    margin-bottom: $size12px;
  }
}

.homedeskbody::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .topImgBlock {
    width: 100vw;
    height: 120.51vw;
  }

  .topImg {
    width: 100vw;
    height: 120.51vw;
    background-size: 100vw 120.51vw;
  }

  .homedesk {
    width: 96.15vw;
    margin-top: 113.59vw;
    min-height: 113.59vw;
    border-radius: $flexsize25px $flexsize25px 0px 0px;
    padding-top: $flexsize15px;
    padding-left: $flexsize15px;

    .blockTitle {
      margin-bottom: $flexsize12px;
    }
  }
}
