@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.stories {
  width: 480px;
  margin-top: $size21px;
  margin-left: -$size15px;
  overflow: hidden;
  overflow-x: auto;

  .storiesLine {
    min-height: $size89px;
    width: $size410px;
    padding-left: $size15px;
    display: flex;
    flex-direction: row;
    gap: $size16px;

    .storiesLineItem {
      width: $size67px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .storiesImgPlace {
        width: $size67px;
        height: $size67px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        .whiteCircle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $size62px;
          height: $size62px;
          background: linear-gradient(white, white) padding-box,
            linear-gradient(165.07deg, #7ac4ec 9.42%, #2e87ec 91.26%) border-box;
          border: $size2-5px solid transparent;
          border-radius: 100%;

          .imgCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $size57px;
            height: $size57px;
            border-radius: 100%;
            background-size: contain;
          }
        }
      }

      h6 {
        margin: 0px;
        padding: 0px;
        font-weight: 500;
        font-size: $size12px;
        line-height: $size14-5px;
        color: $color-black;
      }
    }
  }

  .storiesBottom {
    width: 100%;
    min-height: $size20px;
  }
}

.stories::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .stories {
    width: 100vw;
    margin-left: -$flexsize15px;
    margin-top: $flexsize21px;

    .storiesLine {
      min-height: $flexsize89px;
      width: $flexsize410px;
      padding-left: $flexsize15px;
      gap: $flexsize16px;

      .storiesLineItem {
        width: $flexsize67px;

        .storiesImgPlace {
          width: $flexsize67px;
          height: $flexsize67px;

          .whiteCircle {
            width: $flexsize62px;
            height: $flexsize62px;
            border: $flexsize2-5px solid transparent;

            .imgCircle {
              width: $flexsize57px;
              height: $flexsize57px;
            }
          }
        }

        h6 {
          font-size: $flexsize12px;
          line-height: $flexsize14-5px;
        }
      }
    }

    .storiesBottom {
      min-height: $flexsize20px;
    }
  }
}
