@use "./../../scss/colors.scss" as *;
@use "./../../scss/variabels.scss" as *;

.stories {
  width: 480px;
  margin-top: $size15px;
  margin-bottom: $size40px;
  margin-left: -$size15px;
  height: $size86px;
  overflow: hidden;
  overflow-x: auto;

  .storiesLine {
    min-height: $size86px;
    min-width: $size499px;
    padding-left: $size15px;
    display: flex;
    flex-direction: row;
    gap: $size15px;

    .storiesLineItem {
      width: $size67px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .storiesImgPlace {
        width: $size67px;
        height: $size67px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-bottom: $size5px;

        .whiteCircle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $size62px;
          height: $size62px;
          background: linear-gradient(white, white) padding-box,
            linear-gradient(165.07deg, #7ac4ec 9.42%, #2e87ec 91.26%) border-box;
          border: $size2-5px solid transparent;
          border-radius: 100%;

          .imgCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $size57px;
            height: $size57px;
            border-radius: 100%;
            background-size: contain;
          }
        }
      }

      h6 {
        margin: 0px;
        padding: 0px;
        font-weight: 500;
        // font-size: $size12px;
        font-size: $size11-5px;
        // line-height: $size14-5px;
        line-height: $size14px;
        color: $color-black;
        letter-spacing: calc(-1 * min(0.14px, 0.029vw));
      }
    }
  }
}

.stories::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .stories {
    width: 100vw;
    margin-top: $flexsize15px;
    margin-bottom: $flexsize40px;
    margin-left: -$flexsize15px;

    height: $flexsize86px;

    .storiesLine {
      min-height: $flexsize86px;
      min-width: $flexsize499px;
      padding-left: $flexsize15px;
      gap: $flexsize15px;

      .storiesLineItem {
        width: $flexsize67px;

        .storiesImgPlace {
          width: $flexsize67px;
          height: $flexsize67px;
          margin-bottom: $flexsize5px;

          .whiteCircle {
            width: $flexsize62px;
            height: $flexsize62px;
            border: $flexsize2-5px solid transparent;

            .imgCircle {
              width: $flexsize57px;
              height: $flexsize57px;
            }
          }
        }

        h6 {
          // font-size: $flexsize12px;
          // line-height: $flexsize14-5px;

          font-size: $flexsize11-5px;
          line-height: $flexsize14px;
        }
      }
    }
  }
}
